<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402475024666-6s2elq1ndhat2oi3vd6mf77q51848stp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402475024666-6s2elq1ndhat2oi3vd6mf77q51848stp</string>
	<key>API_KEY</key>
	<string>AIzaSyCbFfMI86e5ylanwOQc20aaEWfRswL9G6c</string>
	<key>GCM_SENDER_ID</key>
	<string>402475024666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoshiaki.dig4</string>
	<key>PROJECT_ID</key>
	<string>dig4-c8177</string>
	<key>STORAGE_BUCKET</key>
	<string>dig4-c8177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402475024666:ios:db6df4727a2a075c7beca3</string>
	<key>DATABASE_URL</key>
	<string>https://dig4-c8177.firebaseio.com</string>
</dict>
</plist>